body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

header {
    background-color: #1f2933;
    color: white;
    padding: 25px;
    text-align: center;
}

.card {
    background-color: white;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #1f2933;
}

ul {
    list-style-type: square;
}

button {
    padding: 10px 16px;
    background-color: #1f2933;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #374151;
}

footer {
    background-color: #1f2933;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

